.blogTite {
    font-size: 150%;
    font-family: 'Abel', sans-serif;
    font-weight: bold;
}
.blogText {
     font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
     margin: 40px;
}
.blogAuthor {
    padding: 0px 0px 0px 10px;
    font-family: 'Niconne', cursive;
    font-size: 30px;
    margin-left: 30px;
}
.blogContent{

}
#blogTitleNew {
	margin-left: 550px;
}
#blogBody {
	text-align: justify;
}
.modal {
  display: none; 
  position: fixed; 
  z-index: 1; 
  padding-top: 100px; 
  left: 0;
  top: 0;
  width: 100%;
  height: 100%; 
  overflow: auto; 
  background-color: white; 
  background-color: rgba(0,0,0,0.5); 
}
.modal-content {
  position: relative;
  background-color: white;
  margin: auto;
  padding: 0;
  border: none;
  width: 30%;
  height: 70%;
  -webkit-animation-name: animatetop;
  -webkit-animation-duration: 0.4s;
  animation-name: animatetop;
  animation-duration: 0.4s
}
.signup-modal-content {
  position: relative;
  background-color: white;
  margin: auto;
  padding: 0;
  border: none;
  width: 30%;
  height: 75%;
  -webkit-animation-name: animatetop;
  -webkit-animation-duration: 0.4s;
  animation-name: animatetop;
  animation-duration: 0.4s
}
.close {
  color: grey;
  float: right;
  font-size: 30px;
  font-weight: bold;
}
.close:hover,
.close:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer;
}
.modal-header {
  padding: 2px 16px;
  background-color: white;
  color: black;
  text-align: center;
  font-family: 'Roboto Condensed', sans-serif;
}
.modal-body {
    padding: 2px 16px;
}
.modal-footer {
  padding: 2px 16px;
  background-color: white;
  color: black;
}
@-webkit-keyframes animatetop {
  from {top:-300px; opacity:0} 
  to {top:0; opacity:1}
}
@keyframes animatetop {
  from {top:-300px; opacity:0}
  to {top:0; opacity:1}
}
hr {
    color: black;
}
label {
    font-family: 'Roboto Condensed', sans-serif;
    font-weight: bold;
    color: black;
}
input {
    padding: 13px;
    background-color: #F5F5F5;
    width: 90%;
    border: none;
}  
#signInModalButton {
    background-color: #00cc66;
    color: white;
    padding: 13px;
    width: 99%;
    border: none;
} 
#tag {
    text-align: center;
    font-size: 17px;
    font-family: 'Roboto', sans-serif;
    font-weight: bold;
}
#tagSignUp {
    cursor: pointer;
    text-align: center;
}     
a {
    text-decoration: none;
}     
#signUpModalButton {
    background-color: #00cc66;
    color: white;
    padding: 13px;
    width: 99%;
    border: none;
} 
#editButton {
	margin-right: 40px;
	padding: 10px 25px;
	border: none;
	background-color: #ff0066;
	font-weight: bold;
	cursor: pointer;
	box-shadow: 2px 2px 2px grey;
}
#likeButton {
	margin-right: 1180px;
	padding: 10px 35px;
	border: none;
	border-radius: 5px;
	background-color: #ff0066;
	font-weight: bold;
	cursor: pointer;
	box-shadow: 2px 2px 2px grey;

}
#likeText {
	margin-left: 40px;
}
#userComments {
	width: 600px;
	height: 80px;
	margin-left: 40px;
}
#commentButton {
	margin-right: 1180px;
	padding: 10px 25px;
	border: none;
	background-color: #ff0066;
	font-weight: bold;
	cursor: pointer;
	box-shadow: 2px 2px 2px grey;
}
#allComments {
	font-weight: bold;
	margin-left: 40px;
}
#commentContainer {
	background-color: lightgrey;
	padding: 10px;
	margin: 5px;
	margin-left: 40px;
	color: black;
	width: 600px;
}